* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

:root {
    --cor-fundo: #1f1f1f;
    --cor-titulo: #ed7b51; 
    --cor-sub-titulo: #ffdeae;
}

.titulo {
    font-size: 40px;
    color: var(--cor-titulo);
}

.sub__titulo {
    font-size: 15px;
    color: var(--cor-sub-titulo);
    margin-bottom: 2.5em;
}

.data {
    font-weight: 600;
    color: var(--cor-titulo);
}

.data-hover {
    display: none;
    cursor: pointer;
    opacity: 0; /* Define a opacidade inicial para 0 */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos na mudança de opacidade */
}

.timeline-component:hover .data-hover {
    display: block; /* Mostra o texto quando o mouse passa sobre o elemento .timeline-component */
    opacity: 1; /* Altera a opacidade para 1 ao passar o mouse */
}

.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
    min-height: 100vh;
    padding: 100px 0;
    font-family: Jost;
  }
  
.design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
.timeline-content {
    padding: 20px;
    background: var(--cor-fundo);
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
            box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
  }
  
.timeline-content:hover {
    transform: translateY(-5px); /* Move o conteúdo para cima ao passar o mouse */
    -webkit-box-shadow: 5px 5px 20px #1a1a1a, -5px -5px 20px #242424; /* Sombra suave */
            box-shadow: 5px 5px 20px #1a1a1a, -5px -5px 20px #242424;
    }

  
.timeline-component {
    margin: 0px 20px 20px 20px;
  }
  
@media screen and (min-width: 768px) {
    .titulo {
        font-size: 50px;
    }

    .sub__titulo {
        font-size: 20px;
        margin-bottom: 5em;
    }

    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, #f29468, #f6ad80, #ffdeae);
      width: 3px;
      height: 100%;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #f29468, #f6ad80, #ffdeae);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }