:root {
  --fonte-principal: "Poppins";
  --cor-fundo: #1f1f1f;
  --laranja-um: #ed7b51; 
  --laranja-dois: #f29468;
  --laranja-tres: #f6ad80;
  --laranja-quatro: #fbc597;
  --laranja-cinco: #ffdeae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal); /* Define a fonte */
}

body {
  background: linear-gradient(135deg, #ed7b51 0%, #fbc597 100%); 
  color: black; 
  min-height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.container {
  width: 90%; 
  max-width: 600px; 
  margin: 20px auto; 
  padding: 20px; 
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.08); 
}

h1 {
  margin-top: 0; 
  text-align: center; 
  font-size: 2rem; 
  color: black; 
}

form {
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
  margin-top: 20px; 
}

label {
  font-size: 1.2rem; 
  font-weight: bold; 
  color: black; 
}

input {
  padding: 10px; 
  font-size: 1.2rem; 
  border-radius: 5px;
  border: none; 
  background-color: rgba(255, 255, 255, 0.1); 
  color: black; 
}

input::placeholder {
  color: black; 
}

.button {
  background-color: rgba(255, 255, 255, 0.3); 
  color: black; 
  padding: 10px; 
  border: none; 
  border-radius: 5px;
  font-size: 1.2rem; 
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out; 
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.5); 
}

#soma,
#media{
  display: block;
  text-align: center;
  padding: 20px; 
  border-radius: 5px;
  border: none; 
  background-color: rgba(255, 255, 255, 0.1); 
  color: black; 
}

#resultado{
  text-align: center;
  padding: 20px; 
  border-radius: 5px;
  border: none; 
  background-color: rgba(255, 255, 255, 0.1); 
  color: black; 
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%; 
    margin: 20px auto; 
  }

  label,
  input,
  .button {
    font-size: 1rem; 
    margin-top: 8px; 
  }
}